
<div class="blog-header">
  <div class="container">
    <h1 class="blog-title garamond">My Blogs</h1>
    <p class="lead blog-description">These are articles and other things that I have found useful and wanted to save for future reference and share them with others.</p>
    <span>
      <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
    </span>
    <span>
      <%= link_to "Topics", topics_path %>
    </span>
  </div>
</div>