<h1 class= "garamond" >About Me</h1>

<hr>

<div class="row">
  <div class = "col-md-4">
    
  <%=image_tag"framed.jpg", width:300%>
  </div>


  <div class= "col-md-8">
    <p class= "playfair">After finishing up a successful 20 year career in the military I am moving into a new career of web and software development. As part of my duties in the military I spent over 12 years working with database programming primarily in SQL and Access databases. I thrive in challenging fast paced environments. I am approachable, personable and crave the thrill of starting and completing new projects. I enjoy learning new things and creating innovative answers to new or existing problems. I work exceptionally well on a team either as a team leader or a team member amd am highly capable of working under pressure and meeting deadlines. I learn fast and excel in linguistics and throughout my military career have developed and maintain proficiencies in Chinese, Hungarian, and Spanish languages.</p>
  

    <p>
      <button
        class= "btn btn-lg btn-secondary"
        type="button"
        data-toggle="collapse"
        data-target="#education"
        aria-expanded = "false"
        aria-controls="education"
      >
        Education
      </button>

      <button
        class= "btn btn-lg btn-secondary"
        type="button"
        data-toggle="collapse"
        data-target="#jobHistory"
        aria-expanded = "false"
        aria-controls="jobHistory"
      >
        Job History
      </button>
      <p>
      <p>
        <div class = "collapse" id = "education">
          <div class= "card card-block edulist">
            Bachelor’s Degree: Bachelor of Science, Excelsior College, NY 2013
          </div>
          <div class= "card card-block edulist">
            Associate’s Degree: Computer Programming, Stevens Henager College, UT 2005 
          </div>
          <div class= "card card-block edulist">
            Ruby on Rails Full Stack Web Development Certification: Bottega Tech, Lehi, UT
          </div>
          <div class= "card card-block edulist">
            Associate’s Degree: Chinese Mandarin and Asian Studies, Monterey Peninsula College, CA 2002
          </div>
          <div class= "card card-block edulist">
            Associate’s Degree: Arabic and Middle Eastern Studies, Monterey Peninsula College, CA, 2011
          </div>
          <div class= "card card-block edulist">
            Project Management Professional Certification Course: (PMP), 28 Hours of Training
          </div>
          </div>
          
          <div class = "collapse" id = "jobHistory">
          <div class= "card card-block edulist">
            2014-2018, Information Manager/Database Administrator, Joint Language Training Center, Camp Williams UT
          </div>
          <div class= "card card-block edulist">
            2009-2014, Database Administrator, Reach Language Support Program, Draper UT
          </div>
          <div class= "card card-block edulist">
            2008-2009, Operations Management Team Chief, Khost, Afghanistan
          </div>
          <div class= "card card-block edulist">
            2006-2007, Database Administrator, Reach Language Support Program, Draper UT
          </div>
          <div class= "card card-block edulist">
            2004-2005, Linguist Team Manager, Reach Language Support Program, Orem UT
          </div>
          <div class= "card card-block edulist">
            2003-2004, Intelligence Collector, Fallujah, Iraq
          </div>
          <div class= "card card-block edulist">
            2002-2003, Database Administrator, Reach Language Support Program, Draper UT
          </div>
      </div>
        </div>

      </p>

    </p>







  </div>
</div>

