<h1>About Me</h1>

<hr>

<div class="row">
  <div class = "col-md-4">
    
  <%=image_tag"framed.jpg", width:300%>
  </div>


  <div class= "col-md-8">
    <p>After finishing up a successful 20 year career in the military I am moving into a new career of web and software development. As part of my duties in the military I spent over 12 years working with database programming primarily in SQL and Access databases. I thrive in challenging fast paced environments. I am approachable, personable and crave the thrill of starting and completing new projects. I enjoy learning new things and creating innovative answers to new or existing problems. I work exceptionally well on a team either as a team leader or a team member amd am highly capable of working under pressure and meeting deadlines. I learn fast and excel in linguistics and throughout my military career have developed and maintain proficiencies in Chinese, Hungarian, and Spanish languages.</p>

    <p>Educationally I have a liberal arts bachelors degree from Excelsior College n New York, comprised primarily of computer programming, information systems, and linguistics. I have an associates degree in Computer Programming from Stevens Henager College in Provo, Utah.  I also have associates degrees in Chinese Mandarin and Asian studies as well as Modern Standard Arabic and Middle Eastern Studies from Monterrey Peninsula College in Monterrey California. I have also received a certification in Ruby on Rails from Bottega in Lehi, UT.</p>
  </div>
</div>

