<h1>Hi, <%= current_user.first_name if current_user %></h1>
<div>Find me in</div>




<h2 id = 'blogs'>Blogs</h2>
<div>
  <%= @posts.inspect %>
  
</div>

<h2 id = 'skills'>Skills</h2>
<div>
  <%= @skills.inspect %>
  
</div>



