<div class="inner cover">
  <h1 class="cover-heading garamond">Welcome</h1>
  <p class="lead garamond">Imagination is the beginning of creation. You imagine what you desire, you will what you imagine and at last you create what you will.</p>
  <p><em class = "lobster">- George Bernard Shaw - </em></p>
  

  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary aboutmebutton" %>
  </p>

</div>
