<h1>Hi, <%= current_user.first_name if current_user %></h1>
<div>Find me in</div>
<ul id="list">
  <li>app</li>
  <li>views</li>
  <li>pages</li>
  <li>home.html.erb</li>
</ul>


<h2 id = 'blogs'>Blogs</h2>
<div>
  <% @posts.inspect %>
  ruby
  <%= @posts.inspect %>
</div>

<h2 id = 'skills'>Skills</h2>
<div>
  <% @skills.inspect %>
  ruby
  <%= @skills.inspect %>
</div>

<div>All Done</div>